configparser==3.5.0
numpy==1.16.1
scipy==0.19.1
docutils==0.14
Flask==0.12.2
flask_csp==0.9
flask_wtf==0.14.2
Flask-SocketIO==2.8.6
pycrypto
Requests
dateutils
Flask-SSLify==0.1.5
Gensim==2.2.0
gevent==1.2.1
gevent-websocket==0.10.1
h5py==2.6.0
Keras==2.0.3
nltk==3.2.2
pandas==0.19.2
psycopg2==2.7.7
pydot==1.2.3
pydot_ng==1.0.0
pyenchant==1.6.8
Python-DOCX==0.8.6
python-magic==0.4.15
scikit-learn==0.18.1
spaCy
stop_words==2015.2.23.1
Tensorflow==1.1.0
xlrd==1.0.0
xlsxwriter==0.9.6
Clamd==1.0.2
Gunicorn==19.7.1
beautifulsoup4==4.5.3
pdfplumber==0.5.8
captcha==0.3
pdf2image==1.0.0
opencv-python==4.0.0.21
flask-restplus==0.12.1
future
pyyaml
python-crontab
paramiko
datefinder==0.7.0