numpy==1.16.1
spacy==2.0.16
psycopg2==2.7.7
Keras==2.0.3
Flask==1.0.3
flask-restplus==0.12.1
tensorflow==1.1.0
nltk==3.2.2
stop_words==2015.2.23.1
h5py==2.6.0
Gensim==2.2.0
gevent==1.2.1
Gunicorn==19.7.1
