asn1crypto==0.24.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cryptography==2.1.4
elasticsearch==7.7.1
Flask==1.1.2
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy
pandas
pycrypto
pygobject
python-dateutil
pytz
pyxdg
redis==3.5.2
requests==2.23.0
requests-aws4auth==0.9
rq
SecretStorage
six
urllib3
Werkzeug
XlsxWriter

