asn1crypto==0.24.0
certifi==2018.8.24
Click==7.0
elasticsearch==7.0.5
Flask==0.12.2
itsdangerous==1.1.0
MarkupSafe==1.1.1
numpy==1.16.1
pandas==0.19.2
pycrypto
python-dateutil<2.8.1
pytz
pyxdg
redis==3.5.0
requests==2.23.0
requests-aws4auth==0.9
rq==1.4.0
SecretStorage
six==1.15.0
urllib3==1.25.6
Werkzeug==0.16.0
xlsxwriter==0.9.6
